body {
    font-family: Roboto;
   background-image: url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80');  
/* slide-02.jpg     */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
  }
  
  h1 {
    background: #1F030C;
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  p {
    padding-left: 20px;
    text-align: center;
   font-weight: bold;
  }
  
  form input[type="text"] {
    width:90px;
  }
  
  input {
    padding-left: 20px;
  }
  
  #billamt {
    font-size: 14px;
    /*color: #2980b9;*/
    color: rgb(0, 0, 0);
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
  }
  
  #billamt:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
  }
  
  #peopleamt {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 69px;
    color: rgb(0, 0, 0);

    background-color: #ffffff;
    font-size: 14px;
  }
  
  .dollarSign {
    display: inline;
  }
  
  #serviceQual {
    padding: 1px 5px 7px 7px;
    margin-left: 10px;
    font-size: 15px;
  }
  
  button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #AD133A;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
  }
  
  button:hover {
    background: #4c2827;
    border-bottom-color: #111;
  }
  
  button:active {
    position: relative;
    top: 1px;
  }
  
  #totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
  }
  
  #totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  
  #totalTip sup {
    font-size: 20px;
    top: -18px;
  }
  
  #totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
  }
